h2{
    text-align: center;
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: antiquewhite;
}

h3{
    text-align: center;
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: antiquewhite;
}

body{
    background-image:url(https://blenderartists.org/uploads/default/original/4X/e/1/b/e1b7cc597f4d71d2e4cf05b64f0bbc988c0426fa.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a{
        text-decoration: none;
        color: rgb(255, 254, 254);
        cursor: pointer;
}
button{
    color: antiquewhite;
    background-color: rgb(49, 17, 2);
    cursor: pointer;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    border: 2px;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}