h2{
    text-align: center;
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-image:url(https://i.redd.it/qln4rxoc2m291.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a{
        text-decoration: none;
        color: rgb(255, 254, 254);
        cursor: pointer;
}
button{
    color: whitesmoke;
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    border: 2px;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}